body {
    height: 100vh; 
    background-image: linear-gradient(
      45deg,
    #9F4A6B,
     #0B001A
);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    margin-left: 30px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: white;
    margin-left:30px;
}
p{
    color: white;
    position: absolute;
    top:3%;
    right: 15px;
    font-size: 20px;
}
.usuaria{
    position: absolute;
    top:2.5%;
    right: 225px;
}

.meuBotao {
    position: absolute;
    bottom: 6%;
    margin-left:43%;
    background-color: #B90060;
    font-size: 25px;
    width: 180px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

/* edição dos 6 formulários */
.form-select {
background-color: #B90060;
color: white;
border-radius: 40px;
}

.form-select{
    font-size: 12px;
}

.datadeNascimento{
    background-color:#B90060; 
    color: white;
    border-radius: 20px;
    border: solid 1px white;
    display: flex; 
    margin-top: 3%;
    height: 50px;
}

/* calendário */
.label-nas {
    margin-left: 16px; 
    margin-top: 13px;
    font-size: 12px; 
}

/* nome "DATA DE NASCIMENTO */
label{
    margin-left: 20px;
    margin-top: 15px;
    font-size: 12px;
}

/* margem dos formulários */
.custom-margin {
    margin-top: 9%;
    margin-bottom: 9%;
}

.ajusteUltimaLinha{
    margin-top: 0.5%;
    margin-bottom: 0%;
}




