body {
  max-height: 200vh;
  max-width: 200vh;
  background-image: linear-gradient(45deg,
      #9F4A6B,
      #0B001A);
  margin: 0;
  overflow-x: hidden;
}

.form-control {
  display: flex;
  margin: 2%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  height: 60px;
  margin-top: 2%;
  width: 49%;
  margin-left: 23%;
}


.btn-outline-success {
  --bs-btn-color: black;
  --bs-btn-border-color: #0B001A;
  background-color: #fff;
  margin-top: 2%;
  height: 60px;
}

.btn-outline-success:hover {
  background-color: #B90060;
}

.titulo {
  font-size: 50px;
  color: white;
  margin-left: 10%;
  font-family: 'Montserrat', sans-serif;
}

.categoria {
  margin-left: 10%;
  color: white;
  margin-left: 10%;
  font-family: 'Montserrat', sans-serif;
}

hr {
  height: 3px;
  background-color: lilac;
}


.botoesConteudo {
  display: flex;
  gap: 60px;
}

button {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: white;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
}

button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid #B90060;
}

button span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

button:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: #B90060;
}

button:hover {
  color: black;
}

button:active span::before {
  background: #B90060;
}

/* Cards */
.card {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
  height: 450px;
}

.card img {
  max-height: 150px;
}

.card body {
  font-size: 14px;
  line-height: 1.2;
}

.ps {
  color: #333;
}

a {
  color: white;
  text-decoration: none;
}

.custom-btn {
  background-color: #B90060;
}
